<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560356708-15d4e0a8d32b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1348&q=80);">
  <div class="container">
    <h1>Cours de <strong>yoga</strong>, <strong>méditation</strong> et <strong>relaxation</strong></h1>
    <p>Une façon simple d'améliorer votre bien-être et votre qualité de vie</p>
    <a class="btn btn-flat" href="#">Réserver</a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Les formules</h2>
  <div class="cards">
    <div class="card">
      <%= image_tag("man.svg") %>
      <h6>Méditation pout les nul.le.s</h6>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="card">
      <%= image_tag("hot-stones.svg") %>
      <h6>Relaxation anti-stress</h6>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="card">
      <%= image_tag("lotus-position.svg") %>
      <h6>Yoga: approfondir une posture</h6>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="card">
      <%= image_tag("calendar.svg") %>
      <h6>Accompagnement personnalisé</h6>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

